#main{
  background-color: lightgrey;
  font-size: 18px;
text-align: center;
}

#img-div{
  background: white;
  padding: 10px;
  
}
#image{
  
 height: 630px;
 max-width: 400px;
}

.bold{
font-weight: 800;
}